<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style> img {display: block; margin-left: auto; margin-right: auto; margin-top: 150px} </style>
</head>
<body>
  <div class="bigpic">
    <%= image_tag("http://i.imgur.com/ZCHu5va.png?2") %>
  </div>

</body>
</html>
