<h2>All Restaurants</h2>

<% @restaurants.each do |restaurant| %>
  <div class="container">

  <!--  looks like you're not using these wcontainer / icontainer classes... suggest
  removing them. (also, if you were to use them, I'd suggest changing them to be more descriptive)-->
    <div class="wcontainer">
      <h3><%= restaurant.name %></h3>
      <p><%= restaurant.address %></p>
      <p><%= link_to "Show", restaurant_path(restaurant) %></p>
    </div>
    <div class="icontainer">
    <p><%= image_tag(restaurant.photo_url) %></p>
    </div>
  </div>
<% end %>
